body {
    margin: 0;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.box {
    display: inline-block;
    min-width: 2rem;
    min-height: 2rem;
    background: #ddd;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    margin-bottom: 1rem;
}